
*.xml
OBJ_Test.bas
OBJ_Test.cbc
OBJ_Test.ddn
OBJ_Test.dis
OBJ_Test.hds
OBJ_Test.list
OBJ_Test.lpf
OBJ_Test.nam
OBJ_Test.oc
OBJ_Test.pcg
OBJ_Test.rch
OBJ_Test.wel
VM_Test.bas
VM_Test.cbc
VM_Test.ddn
VM_Test.dis
VM_Test.hds
VM_Test.list
VM_Test.lpf
VM_Test.nam
VM_Test.oc
VM_Test.pcg
VM_Test.rch
VM_Test.wel
*.bas
*.cbc
*.ddn
*.dis
*.hds
*.list
*.lpf
*.nam
*.oc
*.pcg
*.rch
*.wel
*.Bhd
*.svg
*.pickle
MPATH6.LOG
*.chk
*.mpbas
mp6.exe
*.mplst
*.mpnam
*.mpsim
RunModflow.Bat
data_raw/precipitation
model_files/output/plots/head_change_Basin-Historical.png
model_files/output/plots/head_change_Historical-Historical.png
model_files/output/plots/head_change_Leak-Historical.png
model_files/output/plots/head_change_WWTP-Historical.png
model_files/output/plots/*
model_output/plots/*
model_files/output/plots/head-change_Basin-Historical.png
model_files/output/plots/head-change_Historical-Historical.png
model_files/output/plots/head-change_Leak-Historical.png
model_files/output/plots/head-change_WWTP-Historical.png
model_files/output/plots/observations/drawdown*
model_files/output/plots/observations/IH_2750/*
*.drob_out
*.hob.out
*.drn